button {
    border: none;
    outline: none;
    padding-inline: 0.75rem;
    padding-block: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: large;

    transition: all 0.3s ease-in-out;

    &.primary-button {
        background-color: rgb(245, 49, 49);
        color: aliceblue;
    }

    &:active {
        transform: scale(0.95);
    }


}